.form {
  font-size: 18px;
  display: flex;
  flex-direction: column;
  padding: 6px 12px;
  gap: 8px;
  align-items: flex-start;
}
.form input {
  border: 1px solid rgb(14, 2, 57);
  border-radius: 4px;
  padding: 4px 8px;
}

.error {
  color: red;
  font-size: 10px;
  text-shadow: 1px 1px 2px #fff;
  padding: 2px;
}

.button {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 8px;
  background-color: rgb(210, 225, 225);
  border-radius: 4px;
  cursor: pointer;
}
.button:hover {
  background-color: cadetblue;
}
