.container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
}
.text {
  font-size: 28px;
}
.button {
  border-radius: 4px;
  background-color: rgb(217, 249, 238);
  cursor: pointer;
}
.button:hover,
button:focus {
  background-color: rgb(127, 248, 248);
  transform: scale(1.2);
}
